.carousel {
    position: fixed;
    bottom: 50px;
    left: 0;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  
  .carousel-item {
    display: inline-block;
    margin-right: 20px;
    width: 320px;
    height: 400px;
    margin-right: 3px;
    padding: 0px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #bfbfbf;
    flex: 0 0 auto; 
    margin: 3px; 
    min-width: 200px; 
    max-width: 320px; 
  }
  
  .carousel-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 0 auto;
  }
  .carousel-item p {
font-size: 30px;
font-weight: bold;
text-align: center;
margin-top: -47px;
transform: translateY(60px);
}
.logo1 {
  max-width: 100%;
  width: 90%;
  height: 20px; 
  margin: 0 auto;
  margin-top: 5%;
}

.logo1 img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

@media (max-height:667px) {
  .carousel-item {
    width: 250px; 
    height: 300px;
  }
}