html {
    height: 100%;
    width: 100%;
    background-color: #181d3b;
  }
  
  .title {
    height: 30px;
    width: 90%;
    font-size: 24px;
    background-color: #bfbfbf;
    text-align: center;
    margin: 0 auto; 
    padding: 10px; 
    border: 1px solid #ccc;
    flex-grow: 1;
  }

  
  .navBar {
    height: 50px;
    width: 90%;
    background-color: #bfbfbf;
    margin: 0 auto;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    text-align: center;
    padding: 0 10px; 
    position: fixed; 
    bottom: 0; 
    left: 50%; 
  transform: translateX(-50%);
  z-index: 1;
  
  }
  
  .navBar a {
    text-decoration: none; 
    color: #000; 
    font-size: 1.2rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .navBar a i {
    margin-right: 5px;
  }
  
  .navBar a img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: block;
    margin: 0 auto;
  }
  
  .navBar a:hover {
    background-color: #ddd; 
    cursor: pointer; 
    
  }

  .logo {
    max-width: 100%;
    width: 90%;
    height: 20px; 
    margin: 0 auto;
    margin-top: 30px;
  }

  .logo img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  .team-pic{
    width: 100%;
    width: 100%;
    margin-top: 30px;
    height: 0px;
  }

  .interactive-banner {
    z-index: -1;
    position: relative;
    display: inline-block;
  }
  
  .interactive-banner img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
    margin-top: 30px;
  }
  
  .interactive-banner img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .player-list {
    list-style: none;
    color:#bfbfbf;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
  }
  
  .player-list li {
    padding: 20px;
    border-bottom: 1px solid #ccc;
  }
  
  .player-list li:last-child {
    border-bottom: none;
  }
  
  .player-list li span {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .player-list li span::after {
    content: " ";
  }
  
  .player-list li {
    display: flex;
    align-items: center;
  }

  .button {
    background-color: #bfbfbf; 
    border: none;
    margin-top: 30px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

  #news-post {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    
  }
  
  #news-post h2 {
    text-align: center;
    margin-bottom: 15px;
  }
  
  #news-post form {
    display: flex;
    flex-direction: column;
  }
  
  #news-post label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  #news-post input, #news-post textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
  }
  
  #news-post button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #news-post button:hover {
    background-color: #0069d9;
  }
  
  #news-posts {
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .news-item {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
  }